<div class="container" *tuiLet="selectedRelease$ | async as release">
  <button tuiButton size="l" iconStart="@tui.chevron-left" routerLink="../" appearance="flat">Назад</button>
  <div class="grid-container">
    <label tuiLabel class="label">Версия</label>
    <label tuiLabel class="value">{{ release?.version }}</label>
    <label tuiLabel class="label">Ветка</label>
    <label tuiLabel class="value">{{ (release?.branchId | branchById | async)?.name }}</label>
    <label tuiLabel class="label">Опубликован</label>
    <label tuiLabel class="value">{{ release?.createdAt | dateFromNow }}</label>
    <div class="label">
      <div class="complex-label-container">
        <label tuiLabel>Описание</label>
        <button tuiIconButton iconStart="@tui.pencil" appearance="flat" size="s" (click)="editDescription()"></button>
      </div>
    </div>
    @if (editingDescription) {
      <div class="value">
        <div class="edit-description-container">
          <tui-textfield>
            <textarea tuiTextarea [formControl]="control"></textarea>
          </tui-textfield>
          <div class="buttons-container">
            <button tuiButton size="m" iconStart="@tui.save" appearance="primary-destructive" (click)="cancelChanges()">
              Отменить
            </button>
            <button tuiButton size="m" iconStart="@tui.save" (click)="saveChanges()" [loading]="savingChanges">
              Сохранить
            </button>
          </div>
        </div>
      </div>
    } @else {
      <label tuiLabel class="value">{{ release?.releaseNotes ?? 'Описание отсутствует' }}</label>
    }
  </div>
  <tui-accordion-item class="assets-accordion">
    Ассеты
    <ng-template tuiAccordionItemContent>
      <div class="accordion-container">
        <button tuiButton iconStart="@tui.download" size="m" (click)="downloadReleaseAssets()"
                [loading]="isAssetsDownloading">Загрузить
        </button>
        <tui-tree
          [childrenHandler]="handler"
          [content]="content"
          [tuiTreeController]="true"
          [value]="releaseAssets$ | async"
        />
      </div>

      <ng-template
        #content
        let-item
      >
        <div class="file-container">
          @if (item?.children.length > 0) {
            <tui-icon icon="@tui.folder"></tui-icon>
          } @else {
            <tui-icon icon="@tui.file"></tui-icon>
          }
          {{ item?.name }}
        </div>
      </ng-template>
    </ng-template>
  </tui-accordion-item>
</div>
