<div class="container" *tuiLet="selectedRelease$ | async as release">
  <button tuiButton size="l" iconStart="@tui.chevron-left" routerLink="../" appearance="flat">Назад</button>
  @if (release?.deletedAt) {
    <tui-notification size="l" appearance="warning">Этот релиз удален. Его невозможно скачать</tui-notification>
  }
  <div class="grid-container">
    <label tuiLabel class="label">Версия</label>
    <label tuiLabel class="value">{{ release?.version }}</label>
    <label tuiLabel class="label">Платформа</label>
    <label tuiLabel class="value">{{ release?.platform }}</label>
    <label tuiLabel class="label">Ветка</label>
    <label tuiLabel class="value">{{ (release?.branchId | branchById | async)?.name }}</label>
    <label tuiLabel class="label">Опубликован</label>
    <label tuiLabel class="value">{{ release?.createdAt | dateFromNow }}</label>
    <div class="label">
      <div class="complex-label-container">
        <label tuiLabel>Описание</label>
        <button tuiIconButton iconStart="@tui.pencil" appearance="flat" size="s" (click)="editDescription()"></button>
      </div>
    </div>
    @if (editingDescription) {
      <div class="value">
        <div class="edit-description-container">
          <tui-textfield>
            <textarea tuiTextarea [formControl]="control"></textarea>
          </tui-textfield>
          <div class="buttons-container">
            <button tuiButton size="m" iconStart="@tui.save" appearance="primary-destructive" (click)="cancelChanges()">
              Отменить
            </button>
            <button tuiButton size="m" iconStart="@tui.save" (click)="saveChanges()" [loading]="savingChanges">
              Сохранить
            </button>
          </div>
        </div>
      </div>
    } @else {
      <label tuiLabel class="value">{{ release?.releaseNotes ?? 'Описание отсутствует' }}</label>
    }
    <label tuiLabel class="label">Количество загрузок</label>
    <label tuiLabel class="value">{{ releaseDownloadCount$ | async | asInteger }}</label>
  </div>
  <tui-accordion>
    @if ((releaseAssets$ | async); as releaseAssets) {
      <tui-accordion-item class="accordion">
        Ассеты
        <ng-template tuiAccordionItemContent>
          <div class="accordion-container">
            <button tuiButton iconStart="@tui.download" size="m" (click)="downloadReleaseAssets()"
                    [disabled]="release?.deletedAt" [loading]="isAssetsDownloading">
              Загрузить
            </button>
            <tui-tree
              [childrenHandler]="handler"
              [content]="content"
              [tuiTreeController]="true"
              [value]="releaseAssets"
            />
          </div>

          <ng-template
            #content
            let-item
          >
            <div class="file-container">
              @if (item?.children.length > 0) {
                <tui-icon icon="@tui.folder"></tui-icon>
              } @else {
                <tui-icon icon="@tui.file"></tui-icon>
              }
              {{ item?.name }}
            </div>
          </ng-template>
        </ng-template>
      </tui-accordion-item>
    }
    <tui-accordion-item class="accordion">
      Пакеты
      <ng-template tuiAccordionItemContent>
        <div class="bundles-container" *tuiLet="releaseBundles$ | async as releaseBundles">
          @if (releaseBundles?.length) {
            @for (bundle of releaseBundles ?? []; track bundle.id) {
              <div tuiCardLarge class="bundle-card-container">
                <label tuiLabel>{{ bundle.fileName }}</label>
                <button tuiIconButton iconStart="@tui.download" size="s" [disabled]="release?.deletedAt"
                        (click)="downloadReleaseBundle(bundle.id)"></button>
              </div>
            }
          } @else {
            <p>Нет загруженных пакетов для этого релиза. В будущем можно будет загрузить их прямо отсюда</p>
          }
        </div>
      </ng-template>
    </tui-accordion-item>
    <tui-accordion-item class="accordion">
      Установщики
      <ng-template tuiAccordionItemContent>
        <div class="bundles-container" *tuiLet="usingInstallers$ | async as usingInstallers">
          @if (usingInstallers?.length) {
            @for (installer of usingInstallers ?? []; track installer.id) {
              <div tuiCardLarge class="installer-card-container">
                <div class="builder-info-container"
                     *tuiLet="getInstallerBuilder(installer.builderKey) | async as builder">
                  <h3 tuiLabel>{{ installer.name || builder?.displayName }}</h3>
                  <p>{{ builder?.description }}</p>
                </div>
                <button tuiIconButton iconStart="@tui.download" size="s" [disabled]="release?.deletedAt"
                        (click)="downloadReleaseInstaller(installer.id)"></button>
              </div>
            }
          } @else {
            <p>Нет доступных установщиков для этого приложения. Их можно добавить на странице конфигурации</p>
          }
        </div>
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</div>
