<form class="container" [formGroup]="control" (ngSubmit)="submit()" *tuiLet="installer$ | async as installer">
  <label tuiLabel>Название (не обязательно):</label>
  <tui-textfield>
    <input tuiTextfield formControlName="name"/>
  </tui-textfield>

  <label tuiLabel>Шаблон:</label>
  <div tuiCardLarge tuiAppearance="floating" *tuiLet="getInstallerBuilder(installer?.builderKey) | async as builder">
        <span tuiTitle>
            <span tuiFade>{{ builder?.displayName }}</span>
            <span tuiSubtitle>
                {{ builder?.description }}
            </span>
        </span>
    </div>

  <label tuiLabel>Время хранения установщика:</label>
  <div class="field field-container">
    <tui-textfield class="field">
      <input tuiInputNumber formControlName="installerLifetime"/>
    </tui-textfield>
    <span>часов</span>
  </div>

  <label tuiLabel>Платформы:</label>
  <tui-textfield multi tuiChevron class="field">
    <input tuiInputChip tuiSelectLike formControlName="platforms"/>
    <tui-data-list-wrapper
      *tuiTextfieldDropdown
      new
      tuiMultiSelectGroup
      [items]="platforms$ | async"
    />
  </tui-textfield>

  @switch (installer?.builderKey) {
    @case ("Console") {
      <app-console-installer-settings formControlName="settings"/>
    }
  }

  <div class="bottom-container">
    <button tuiButton appearance="primary" [loading]="loading" iconStart="@tui.save" type="submit">Сохранить</button>
  </div>
</form>
