.container {
  height: 100vh;
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
  display: flex;
  flex-direction: column;
  padding: 0 5rem;
  gap: 2rem;

  .tools-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .branches-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
  }
}
