.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .field {
    width: 100%;
  }

  .field-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    .field {
      width: 8rem;
    }
  }

  .bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
