<div
  tuiAppearance="floating"
  tuiCardLarge
>
  <div class="container">
    <h3 class="branch-name">{{ branch().name }}</h3>

    <span class="duration-label">
      @if (branch().duration) {
        {{ branch().duration }}
      } @else {
        По умолчанию
      }
    </span>
    <button
      size="s"
      tuiIconButton
      type="button"
      iconStart="@tui.pencil"
      appearance="flat"
      (click)="showDialog(editDialog)"
    ></button>
    <button
      size="s"
      tuiIconButton
      type="button"
      iconStart="@tui.trash"
      appearance="flat-destructive"
      (click)="deleteBranch()"
    ></button>
  </div>
</div>

<ng-template
  #editDialog
>
  <h2>{{ branch().name }}</h2>
  <h4>Время жизни релизов:</h4>
  <p>
    <label tuiLabel>
      <input
        name="test"
        tuiRadio
        type="radio"
      />
      По умолчанию
    </label>
  </p>
  <p>
    <label tuiLabel>
      <input
        name="test"
        tuiRadio
        type="radio"
      />
      Не удалять
    </label>
  </p>
  <p>
    <label tuiLabel>
      <input
        name="test"
        tuiRadio
        type="radio"
      />
      Выбрать время
    </label>
  </p>
</ng-template>
