.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  .branch-name {
    margin: 0;
    flex-grow: 1;
  }

  .duration-label {
    width: 10rem;
  }
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
