<div
  tuiAppearance="floating"
  tuiCardLarge
>
  <div class="container">
    <h3 class="branch-name">{{ branch().name }}</h3>

    <button
      size="s"
      tuiIconButton
      type="button"
      iconStart="@tui.pencil"
      appearance="flat"
      (click)="showDialog(editDialog)"
    ></button>
    <button
      size="s"
      tuiIconButton
      type="button"
      iconStart="@tui.trash"
      appearance="flat-destructive"
      (click)="deleteBranch()"
    ></button>
  </div>
</div>

<ng-template
  #editDialog
>
  <form class="dialog-container" [formGroup]="control">
    <h4>Время жизни релизов:</h4>
    <label tuiLabel>
      <input tuiCheckbox type="checkbox" formControlName="useDefault"/>
      По умолчанию
    </label>
    @if (!useDefault) {
      <app-input-lifetime formControlName="latestReleaseLifetime">
        <label tuiLabel>Удалять последний релиз</label>
      </app-input-lifetime>
      <app-input-lifetime formControlName="releaseLifetime">
        <label tuiLabel>Удалять остальные релизы</label>
      </app-input-lifetime>
    }
    <button tuiButton size="m" iconStart="@tui.save" [disabled]="!(canSave$ | async)" (click)="saveChanges()">
      Сохранить
    </button>
  </form>
</ng-template>
