.container {
  height: 100vh;
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: stretch;
  gap: 2rem;

  .header {
    @media (min-width: 600px) {
      padding: 0 5rem;
    }
  }

  .content-wrapper {
    overflow-y: auto;
    @media (min-width: 600px) {
      padding: 0 5rem;
    }
    @media (max-width: 599px) {
      padding: 0 0.5rem;
    }
  }
}
