<div class="container">
  <div class="releases-container">
    @for (release of releases$ | async; track release.id) {
      <button
        tuiCardLarge
        tuiHeader
        tuiSurface="floating"
        class="button"
        [routerLink]="'./' + release.id"
      >
        <div class="card-container">
          <h3>{{ release.version }}</h3>
          <tui-chip>{{ (release.branchId | branchById | async)?.name }}</tui-chip>
          <span>{{ release.platform }}</span>
          <div class="time-container">
            <span>{{ release.createdAt | dateFromNow }}</span>
            @if (release.deletedAt) {
              <tui-chip appearance="negative">Удален</tui-chip>
            }
          </div>
        </div>
      </button>

    }
  </div>
</div>
