.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;

  .app-selector {
    width: 20rem;
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
