<div class="container">
  <app-logo></app-logo>
  @if (selectedApplication$ | async; as selectedApplication) {
    <h2>{{ selectedApplication.name }}</h2>
    <tui-segmented
      size="l"
    >
      <a
        routerLinkActive
        [routerLinkActiveOptions]="options"
        [routerLink]="'/app/' + selectedApplication.id"
      >
        Конфигурация
      </a>
      <a
        routerLinkActive
        [routerLinkActiveOptions]="options"
        [routerLink]="'/app/' + selectedApplication.id + '/releases'"
      >
        Релизы
      </a>
      <a
        routerLinkActive
        [routerLinkActiveOptions]="options"
        [routerLink]="'/app/' + selectedApplication.id + '/branches'"
      >
        Ветки
      </a>
    </tui-segmented>
  }
</div>
