.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 4rem;

  .buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
