<div class="container">
  <app-logo></app-logo>
  @if (selectedApplication$ | async; as selectedApplication) {
    <h2>{{ selectedApplication.name }}</h2>
    <tui-segmented
      size="l"
    >
      <a
        routerLinkActive
        [routerLinkActiveOptions]="options"
        routerLink="./config"
      >
        Конфигурация
      </a>
      <a
        routerLinkActive
        [routerLinkActiveOptions]="options"
        routerLink="./releases"
      >
        Релизы
      </a>
      <a
        routerLinkActive
        [routerLinkActiveOptions]="options"
        routerLink="./branches"
      >
        Ветки
      </a>
      <a
        routerLinkActive
        [routerLinkActiveOptions]="options"
        routerLink="./metrics"
      >
        Метрики
      </a>
    </tui-segmented>
  }
</div>
