<div class="container">
  <app-logo></app-logo>
  @if (selectedApplication$ | async; as selectedApplication) {
    <h1>{{ selectedApplication.name }}</h1>
    <tui-segmented
      size="l"
    >
      <button type="button" [routerLink]="'app/' + selectedApplication.id">Конфигурация</button>
      <button type="button" [routerLink]="'app/' + selectedApplication.id + '/releases'">Релизы</button>
      <button type="button" [routerLink]="'app/' + selectedApplication.id + '/branches'">Ветки</button>
    </tui-segmented>
  }
</div>
