<div class="container">
  <h2>Используемые сборки:</h2>
  <div class="installers-container using-installers-container">
    @for (usingInstaller of usingInstallers$ | async; track usingInstaller.id) {
      <div tuiAppearance="floating" tuiCardLarge *tuiLet="getBuilder(usingInstaller) | async as installerBuilder">
        <div class="card-container">
          <h3 class="card-header">{{ usingInstaller.name || installerBuilder?.displayName }}</h3>
          <button
            size="s"
            tuiIconButton
            type="button"
            iconStart="@tui.pencil"
            appearance="flat"
          ></button>
          <button
            size="s"
            tuiIconButton
            type="button"
            iconStart="@tui.trash"
            appearance="flat-destructive"
          ></button>
        </div>
      </div>
    }
  </div>
  <h2>Доступные сборки:</h2>
  <div class="installers-container available-installers-container">
    @for (availableInstaller of availableInstallers$ | async; track availableInstaller.key) {
      <div tuiAppearance="floating" tuiCardLarge>
        <div class="card-container">
          <h3 class="card-header">{{ availableInstaller.displayName }}</h3>
          <button
            size="s"
            tuiIconButton
            type="button"
            iconStart="@tui.plus"
            appearance="flat"
          ></button>
        </div>
      </div>
    }
  </div>
</div>
