<form [formGroup]="control" class="container">
  <label tuiLabel>Платформа программы обновления:</label>
  <tui-textfield tuiChevron class="field">
    <input tuiSelect formControlName="updaterPlatform"/>
    <tui-data-list-wrapper
      *tuiTextfieldDropdown
      new
      [items]="updaterPlatforms$"
    />
  </tui-textfield>
  <label tuiLabel>Папка верхнего уровня:</label>
  <span tuiSubtitle>По умолчанию все ассеты будет в корне архива</span>
  <tui-textfield>
    <input tuiTextfield formControlName="topLevelDirectory"/>
  </tui-textfield>
  <label tuiLabel>Путь к Uninstall.exe:</label>
  <tui-textfield>
    <input tuiTextfield formControlName="installerDirectory"/>
  </tui-textfield>
</form>
